<app-tool-bar>
  <button class="import-form__button accent" (click)="save()" [disabled]="form.invalid" *ngIf="tested">Save</button>
  <button [ngClass]="{'import-form__button': true, 'accent': !testing}" (click)="testing = !testing; tested = true">{{testing ? 'Stop testing function' : 'Test function'}}</button>
  <button [routerLink]="''">Cancel</button>
</app-tool-bar>

<app-custom-function-item *ngIf="testing" [item]="getValue()" [testing]="true"></app-custom-function-item>

<div class="import-form card" [formGroup]="form">
  <h2>Function</h2>
  <label  class="import-form__label">JSON to import (ONLY IMPORT FROM PEOPLE YOU TRUST COMPLETELY!!!)
    <textarea class="import-form__json-input" formControlName="importedJson"></textarea>
  </label>

</div>

