<app-tool-bar>
  <button
    class="create-form__button accent"
    (click)="save()"
    [disabled]="form.invalid"
    *ngIf="creating && tested"
  >
    Save
  </button>
  <button
    class="create-form__button accent"
    (click)="update()"
    [disabled]="form.invalid"
    *ngIf="!creating && tested"
  >
    Save changes
  </button>
  <button class="create-form__button" (click)="test()">
    {{ testing ? "Stop testing function" : "Test function" }}
  </button>
  <button [routerLink]="''">Cancel</button>
  <button
    class="create-form__button danger"
    (click)="confirmDelete = true"
    *ngIf="!creating"
  >
    Delete
  </button>
  <button class="create-form__button" (click)="helpModalVisible = true">
    ?
  </button>
</app-tool-bar>

<app-custom-function-item
  *ngIf="testing"
  [item]="form.value"
  [testing]="true"
></app-custom-function-item>

<div class="create-form card" [formGroup]="form">
  <h2>Metadata</h2>
  <label class="create-form__label"
    >Title*
    <input type="text" formControlName="title" />
  </label>
  <label class="create-form__label"
    >Subtitle
    <input type="text" formControlName="subtitle" />
  </label>
  <label class="create-form__label"
    >Tags (comma-separated list)
    <input type="text" formControlName="tags" />
  </label>
  <ng-container formArrayName="inputs">
    <h2>Inputs</h2>

    <div
      class="create-form__inputs"
      *ngFor="let inputGroup of inputs.controls; let i = index"
    >
      <div class="create-form__input-group" [formGroup]="inputGroup">
        <!-- The repeated input template -->
        <label class="create-form__label"
          >Label*
          <input type="text" formControlName="label" />
        </label>
        <label class="create-form__label"
          >Type*
          <select formControlName="type">
            <option *ngFor="let type of Types" [ngValue]="type">
              {{ type }}
            </option>
          </select>
        </label>
        <label class="create-form__label"
          >Initial value
          <input type="text" formControlName="value" />
        </label>
        <button class="create-form__button danger" (click)="removeInput(i)">
          Remove input
        </button>
      </div>
    </div>
    <button class="create-form__button" (click)="addInput()">
      Add another input
    </button>
  </ng-container>
  <h2>Function</h2>
  <label class="create-form__label"
    >Function* async (paramArray, log, print, localStorage) => {{ "{...}" }}
    <ngs-code-editor
      class="create-form__function-input"
      [theme]="theme"
      [codeModel]="codeModel"
      [options]="options"
      (valueChanged)="onCodeChanged($event)"
    >
    </ngs-code-editor>
  </label>
</div>

<app-modal
  *ngIf="confirmDelete"
  [title]="'Are you sure?'"
  (onClose)="confirmDelete = false"
>
  <button class="modal-confirm-delete danger" (click)="destroy()">
    Confirm Delete
  </button>
</app-modal>

<app-modal
  *ngIf="helpModalVisible"
  [title]="'UtilityBelt'"
  (onClose)="helpModalVisible = false"
>
  <h3>Metadata</h3>
  <p>
    Provide a title, subtitle, and tags. On the homepage, you can search by title and tags.
  </p>
  <h3>Inputs</h3>
  <p>
    Add all the inputs you need. Give each input a label, a type (like date or number
    or color), and optionally a default value. These inputs will be used to generate your
    custom form.
  </p>
  <h3>Function</h3>
  <p>
    This is where you write the JavaScript function body. The function has four
    arguments. The first, <code>paramArray</code>, is an array that holds the
    values of each input from your custom form. The second, <code>log</code>, is
    a function that outputs to the right side of the output pane. The third,
    <code>print</code>, is a function that outputs to the left side of the
    output pane. Use this function to output your results. The fourth,
    <code>localStorage</code>, is a proxy to localStorage. Use it the same way.
  </p>
</app-modal>
