.function-place {
  width: 100%;
  height: 50vh;
}

.create-form__label {
  display: flex;
  flex-direction: column;
}
.create-form__input-group {
  display: flex;
  flex-direction: row;
  column-gap: var(--padding-narrow);
  align-items: flex-end;
}

.create-form__inputs {
  display: flex;
  flex-direction: column;
  row-gap: var(--margin-narrow);
}
.create-form__button {
  width: fit-content;
}

.create-form__function-input {
  font-family: monospace;
  height: 36vh;
}
.json-viewer-area {
  width: 100%;
  padding: var(--padding-thick);
  box-sizing: border-box;
}
.json-viewer {
  width: 100%;
  box-sizing: border-box;
  font-family: monospace;
  height: 36vh;
}
