.function-item {
  border-style: solid;
  border-width: var(--border-width-thin);
  border-radius: var(--border-radius);
  border-color: var(--main-fg-color);

  display: flex;
  flex-direction: column;
  align-items: var(--flex-align);

  padding: var(--padding-thick);
  margin: var(--margin-thick);
}
.function-item__header {
  display: grid;
  grid-template-areas: "title actions"
  "subtitle subtitle"
  "author author"
  "tags tags";
  width: 100%;
  row-gap: var(--margin-thick);
  margin-bottom: var(--margin-thick);
}
.function-item__header__title {
  margin: 0;
  grid-area: title;
}
.function-item__header__subtitle {
  grid-area: subtitle;
  font-style: italic;
}
.function-item__header__tags {
  font-size: var(--small-font-size);
  grid-area: tags;
}
.function-item__header__author {
  grid-area: author;
}
.function-item__header__actions {
  grid-area: actions;
  justify-self: var(--reverse-flex-align);
}
.function-item__body {
  width: 100%;
  padding: var(--padding-narrow);
}
.function-item__body__inputs {
  margin-bottom: var(--margin-thick);
}
.function-item__body__inputs__label {
  display: flex;
  flex-direction: column;
}
.function-item__body__inputs__textarea {
  height: 24vh;
  font-family: monospace;
}
.function-item__body__outputs {
  width: 100%;
}
.function-item__body__outputs__result {
  height: 24vh;
  width: 100%;

  background-color: var(--secondary-bg-color);
  color: var(--secondary-fg-color);
  padding: var(--padding-narrow);
}

.function-item__body__outputs__logs {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-fg-color);

  height: 6vh;
  width: 100%;
  padding: var(--padding-narrow);
}
