<div class="function-item">
  <div class="function-item__header">
    <h2 class="function-item__header__title">{{ item.title }}</h2>
    <span class="function-item__header__subtitle">{{ item.subtitle }}</span>
    <span class="function-item__header__author">Author: {{ item.author }}</span>

    <span class="function-item__header__tags">
      {{ item.tags | uppercase }}</span
    >
    <div class="function-item__header__actions">
      <!-- <button>Edit</button> -->
    </div>
  </div>
  <div class="function-item__body">
    <div
      class="function-item__body__inputs"
      *ngFor="let input of item.inputs; let i = index"
    >
      <label class="function-item__body__inputs__label" [ngSwitch]="input.type">
        {{ input.label }}
        <textarea
          *ngSwitchCase="Types.TEXTAREA"
          name="ta{{ i }}"
          class="function-item__body__inputs__textarea"
          (change)="doTextareaValueChange($event, i)"
          >{{ input.value }}
        </textarea>
        <input
          *ngSwitchCase="Types.TEXTFIELD"
          name="tf{{ i }}"
          class="function-item__body__inputs__textfield"
          (change)="doTextareaValueChange($event, i)"
          [value]="input.value"
        />
        <input
          *ngSwitchCase="Types.NUMBER"
          name="n{{ i }}"
          type="number"
          class="function-item__body__inputs__textfield"
          (change)="doTextareaValueChange($event, i)"
          [value]="input.value"
        />
        <input
          *ngSwitchCase="Types.DATE"
          name="d{{ i }}"
          type="date"
          class="function-item__body__inputs__textfield"
          (change)="doTextareaValueChange($event, i)"
          [value]="input.value"
        />
        <select
          *ngSwitchCase="Types.YES_NO"
          name="yn{{ i }}"
          class="function-item__body__inputs__select"
          (change)="doTextareaValueChange($event, i)"
          [value]="input.value"
        >
          <option>YES</option>
          <option>NO</option>
        </select>
      </label>
    </div>
    <button class="accent" (click)="executeFunction()">Execute</button>
    <div class="function-item__body__outputs">
      <pre class="function-item__body__outputs__logs" id="logger" #logger>
Logs
      </pre>
      <pre class="function-item__body__outputs__result" id="output" #output>
Result
      </pre>
    </div>
  </div>
</div>
