.toast {
  height: 100%;
  background-color: var(--active-bg-color);
  color: var(--active-fg-color);
  text-transform: uppercase;
  padding: var(--padding-narrow);
  text-align: center;
}

.sad {
  background-color: var(--danger-bg-color);
  color: var(--danger-fg-color);
}
