/* Root - with Variables */

:root {
  /*Only for containers that should match the page background*/
  --main-bg-color-values: 255 255 255;
  --main-fg-color-values: 0 0 0;
  --main-bg-color: rgb(var(--main-bg-color-values));
  --main-fg-color: rgb(var(--main-fg-color-values));

  /*For banner*/
  --banner-bg-color: rgb(244, 243, 243);
  --banner-fg-color: black;

  /*For cards*/
  --card-bg-color: rgb(244, 243, 243);
  --card-fg-color: black;

  /*For inputs*/
  --input-bg-color: white;
  --input-fg-color: black;

  --translucent: 33%;
  --modal-z: 3;
  --tool-bar-z: 3;
  --toast-z: 4;

  /*For buttons*/
  --button-bg-color: white;
  --button-fg-color: black;

  --button-hover-bg-color: rgb(236, 236, 236);
  --button-hover-fg-color: black;

  --accent-bg-color: #5FA300;
  --accent-fg-color: white;

  --selection-bg-color: rgb(74, 48, 141);
  --selection-fg-color: white;

  --active-bg-color: gold;
  --active-fg-color: black;

  --danger-bg-color: #A30E00;
  --danger-fg-color: white;

  --main-font-size: 14px;
  --code-font-size: 12px;
  --code-line-height: 14px;
  --small-font-size: 10px;

  --card-min-width: 360px;
  --card-width: 72vw;
  --card-max-width: 900px;

  --border-radius: 4px;
  --border-width-thin: 1px;
  --border-width-thick: 2px;

  --padding-narrow: 6px;
  --margin-narrow: 6px;

  --padding-thick: 12px;
  --margin-thick: 12px;

  --background-image: none;

  --direction: ltr;
  --text-align: left;
  --reverse-text-align: right;
  --flex-align: flex-start;
  --reverse-flex-align: flex-end;

  --logo-dimension: 72px;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: var(--main-bg-color);
}
div, span {
  box-sizing: border-box;
}
app-logo {
  height: calc(0.5 * var(--logo-dimension));
}
.logo svg {
  height: calc(0.5 * var(--logo-dimension));
  width: var(--logo-dimension);
}
.logo svg g {
  fill: var(--banner-fg-color);
}
.card {
  border-style: solid;
  border-width: var(--border-width-thin);
  border-radius: var(--border-radius);
  border-color: var(--card-fg-color);

  background-color: var(--card-bg-color);
  color: var(--card-fg-color);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: var(--margin-narrow);

  padding: var(--padding-thick);
  margin: var(--margin-thick) auto;

  width: var(--card-width);
  max-width: var(--card-max-width);
  min-width: var(--card-min-width);
}
.testing {
  border-width: var(--border-width-thick);
  border-color: var(--accent-bg-color);
  border-style: dashed;
}
.card .testing {
  width: 100%;
}
label {
  font-weight: bold;
}
input, select, textarea {
  border-radius: var(--border-radius);
  border-width: var(--border-width-thin);
  padding: var(--padding-narrow);
  background-color: var(--input-bg-color);
  color: var(--input-fg-color);
}
input.checkbox {
  width: 100%;
  height: 100%;
}
button {
  display: flex;
  column-gap: var(--margin-narrow);

  background-color: var(--button-bg-color);
  color: var(--button-fg-color);
  padding: var(--padding-narrow) var(--padding-thick);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: var(--border-width-thin);
  border-color: var(--button-fg-color);
  height: fit-content;
  width: fit-content;
  text-transform: uppercase;
}
.accent {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
  border-color: var(--accent-fg-color);
  text-shadow: 0px 0px 4px var(--main-fg-color);
}

.icon svg, .icon {
  height: var(--main-font-size);
  width: var(--main-font-size);
}

.accent svg path {
  fill: var(--accent-fg-color);
}

.danger {
  background-color: var(--danger-bg-color);
  color: var(--danger-fg-color);
}

.danger svg path {
  fill: var(--danger-fg-color);
}

* {
  font-size: var(--main-font-size);
}
h2 {
  font-size: calc(2 * var(--main-font-size));
}
h1 {
  font-size: calc(2 * var(--main-font-size));
}

h1, h2, h3, p {
  margin: var(--margin-narrow) 0;
}

:disabled {
  opacity: 0.5;
}
button:hover:enabled {
  border-color: var(--button-hover-fg-color);
  color: var(--button-hover-fg-color);
  background-color: var(--button-hover-bg-color);
  text-shadow: none;
}
button:hover:enabled svg path {
  fill: var(--button-hover-fg-color);
}
button.accent:hover:enabled {
  border-color: var(--accent-bg-color);
  color: var(--accent-bg-color);
  background-color: var(--accent-fg-color);
  text-shadow: none;
}
button.accent:hover:enabled svg path {
  fill: var(--accent-bg-color);
}
button.danger:hover:enabled {
  border-color: var(--danger-bg-color);
  color: var(--danger-bg-color);
  background-color: var(--danger-fg-color);
}
button.danger:hover:enabled svg path {
  fill: var(--danger-bg-color);
}
button:active {
  border-color: var(--active-fg-color) !important;
  background-color: var(--active-bg-color) !important;
  color: var(--active-fg-color) !important;
  text-shadow: none !important;
}

button:active svg path {
  fill: var(--active-fg-color) !important;
}

::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-fg-color);
}

@media only screen and (max-width: 560px) {
  button {
    font-size: 0 !important;
    column-gap: 0 !important;
  }
  .big-screen-only {
    display: none;
  }
  :root {
    --margin-narrow: 4px;
    --margin-thick: 8px;
  }
}
