/* Root - with Variables */

:root {
  /*Only for containers that should match the page background*/
  --main-bg-color: rgb(244, 244, 244);
  --main-fg-color: black;

  /*For banner*/
  --banner-bg-color: rgb(72, 72, 72);
  --banner-fg-color: white;

  /*For inputs*/
  --input-bg-color: white;
  --input-fg-color: black;

  /*For buttons*/
  --button-bg-color: rgb(224, 224, 224);
  --button-fg-color: black;

  --button-hover-bg-color: rgb(236, 236, 236);
  --button-hover-fg-color: black;

  --accent-bg-color: rgb(5, 99, 60);
  --accent-fg-color: white;

  --danger-bg-color: firebrick;
  --danger-fg-color: white;

  --main-font-size: 16px;
  --code-font-size: 14px;
  --code-line-height: 16px;
  --small-font-size: 12px;

  --snippet-width: 55vw;
  --snippet-height: 60vh;

  --border-radius: 4px;
  --border-width-thin: 1px;
  --border-width-thick: 2px;

  --padding-narrow: 4px;
  --margin-narrow: 4px;

  --padding-thick: 12px;
  --margin-thick: 12px;

  --background-image: none;

  --direction: ltr;
  --text-align: left;
  --reverse-text-align: right;
  --flex-align: flex-start;
  --reverse-flex-align: flex-end;
  --flex-row-direction: row;

  --svg-dimension: 144px;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: var(--main-bg-color);
}
div, span {
  box-sizing: border-box;
}
.logo svg {
  height: calc(0.5 * var(--svg-dimension));
  width: var(--svg-dimension);
}
.logo svg g {
  fill: var(--banner-fg-color);
}
.card {
  border-style: solid;
  border-width: var(--border-width-thin);
  border-radius: var(--border-radius);
  border-color: var(--main-fg-color);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: var(--margin-narrow);

  padding: var(--padding-thick);
  margin: var(--margin-thick);
}
label {
  font-weight: bold;
}
input, select, textarea {
  border-radius: var(--border-radius);
  border-width: var(--border-width-thin);
  padding: var(--padding-thick);
  background-color: var(--input-bg-color);
  color: var(--input-fg-color);
}
button {
  background-color: var(--button-bg-color);
  padding: var(--padding-thick) calc(2 * var(--padding-thick));
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: var(--border-width-thin);
  border-color: var(--button-fg-color);
  height: fit-content;
  text-transform: uppercase;
}
.accent {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

.danger {
  background-color: var(--danger-bg-color);
  color: var(--danger-fg-color);
}

* {
  font-size: var(--main-font-size);
}
h2 {
  font-size: calc(2 * var(--main-font-size));
}
h1 {
  font-size: calc(2 * var(--main-font-size));
}

:disabled {
  opacity: 0.5;
}
button:hover {
  border-color: var(--button-hover-fg-color);
  color: var(--button-hover-fg-color);
  background-color: var(--button-hover-bg-color);
}
button.accent:hover {
  border-color: var(--accent-bg-color);
  color: var(--accent-bg-color);
  background-color: var(--accent-fg-color);
}
button.danger:hover {
  border-color: var(--danger-bg-color);
  color: var(--danger-bg-color);
  background-color: var(--danger-fg-color);
}
