.function-item__header {
  display: grid;
  grid-template-areas: "title actions"
  "subtitle subtitle"
  "tags tags";
  width: 100%;
  row-gap: var(--margin-narrow);
  margin-bottom: var(--margin-thick);
}
.function-item__header__title {
  margin: 0;
  grid-area: title;
}
.function-item__header__subtitle {
  grid-area: subtitle;
  font-style: italic;
}
.function-item__header__tags {
  font-size: var(--small-font-size);
  grid-area: tags;
}
.function-item__header__author {
  grid-area: author;
  font-weight: normal;
}
.function-item__header__actions {
  grid-area: actions;
  justify-self: var(--reverse-flex-align);
}
.function-item__body {
  width: 100%;
  padding: var(--padding-narrow);
}
.function-item__body__inputs {
  margin-bottom: var(--margin-thick);
}
.function-item__body__inputs__label {
  display: flex;
  flex-direction: column;
}
.function-item__body__iframe {
  width: 100%;
  border: none;
}
