<app-tool-bar>
  <button class="import-form__button accent" (click)="save()"><app-icon icon="save"></app-icon>Save</button>
  <button [routerLink]="''"><app-icon icon="cancel"></app-icon>Cancel</button>
  <button (click)="helpModalVisible = true"><app-icon icon="help"></app-icon></button>
</app-tool-bar>

<div class="import-form card">
  <h2>Import Custom Forms</h2>
  <label class="import-form__label"
    >Custom forms to import (ONLY IMPORT FROM PEOPLE YOU TRUST
    COMPLETELY!!!)</label
  >
  <ng-container *ngFor="let item of newItems">
    <div class="import-form-table">
      <div class="import-form-table__row import-form-table__row--header sticky">
        <span class="import-form-table__cell import-form-table__cell--header">
        </span>
        <span class="import-form-table__cell import-form-table__cell--header"
          >Title</span
        >
        <span class="import-form-table__cell import-form-table__cell--header"
          >Tags</span
        >
        <span
          class="import-form-table__cell import-form-table__cell--header import-form-table__cell--action"
        ></span>
      </div>
      <div
        *ngFor="let newItem of newItems; let i = index"
        class="import-form-table__row"
      >
        <span class="import-form-table__cell">
          <input
            type="checkbox"
            class="checkbox"
            [(ngModel)]="newItem.checked"
          />
        </span>
        <span class="import-form-table__cell">{{ newItem.item.title }}</span>
        <span class="import-form-table__cell">{{ newItem.item.tags }}</span>
        <span class="import-form-table__cell import-form-table__cell--action">
          <button *ngIf="!newItem.expanded" (click)="newItem.expanded = true">
            <app-icon icon="expand"></app-icon>Expand
          </button>
          <button *ngIf="newItem.expanded" (click)="newItem.expanded = false">
            <app-icon icon="collapse"></app-icon>Collapse
          </button>
        </span>
        <label class="import-form-table__expansion" *ngIf="newItem.expanded"
          >Function async (paramArray, log, print, localStorage) =>
          {{ "{...}" }}
          <ngs-code-editor
            [readOnly]="true"
            [theme]="theme"
            [codeModel]="{
              language: 'javascript',
              uri: 'main.js',
              value: newItem.item.function
            }"
            [options]="options"
          >
          </ngs-code-editor>
        </label>
        <app-custom-function-item
          *ngIf="newItem.expanded"
          class="import-form-table__expansion"
          [item]="item.item"
          [testing]="true"
        ></app-custom-function-item>
      </div>
    </div>
  </ng-container>
</div>

<app-modal
  *ngIf="helpModalVisible"
  [title]="'UtilityBelt'"
  (onClose)="helpModalVisible = false"
>
  <h3>Importing</h3>
  <p>ONLY IMPORT FROM PEOPLE YOU TRUST.</p>
  <p>
    Someone sent you a link to their custom form. Examine it then test it to make
    sure it's what you want. If you like it, then hit the 'SAVE' button. That
    will save it to localStorage, and it will appear in the list of custom forms
    on the homepage.
  </p>
</app-modal>
